input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
#email, #domain{
    width:80%;
    padding: 5px 20px;
    margin-top:50px;
    color:black;
    display: inline-block;
    font-size:20px;
    height:auto;
    background-color:white;
    text-decoration:none;
    border-radius:40px;
    border:2px solid lightblue;
    box-sizing: border-box;
    cursor:pointer;
}
