#navbar-item{
    padding-top:10px;
    padding-bottom:10px;
    font-family:'Barlow', sans-serif;
    font-size:20px;
}
#shadow{
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
#navbar-item-1{
    font-family:'Barlow', sans-serif;
    font-size:20px;
}
.nav-item {
    padding-left : 10px;
    padding-right : 10px
}
#avatar {
    height:40px; 
    position: absolute; 
    left : -20%; 
    top: 50%; 
    transform: translateY(-50%)
}
.acc-settings{
    text-align:center;
    color:#0a0a4d;
    font-size:40px;
    font-weight:bolder;
    font-family:'Barlow', sans-serif;
}
.del-acc, .disable-acc, .req-pw-change{
    width:80%;
    padding: 5px 20px;
    margin-top:50px;
    color:black;
    display: inline-block;
    font-size:20px;
    height:55px;
    background-color:white;
    text-decoration:none;
    border-radius:40px;
    border:2px solid lightblue;
    box-sizing: border-box;
    cursor:pointer;
}
.del-acc:hover, .disable-acc:hover, .req-pw-change:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}